<h1 id = "logo">Sounds</h1>
<div class="spacer">
  <div class="signUpVisible" id ="tiny">

    <h1>Contact</h1>
    <form class="go" action="/" method="post">
      <ul><input class = "inp"type="name" name="" value="" placeholder="name"></ul>
      <ul><input class = "inp"type="email" name="" value="" placeholder="email"></ul>
      <ul><input class = "inp"type="multi-line" name="" placeholder="message"value=""></ul>
      <ul><input class = "sub"type="submit" name="" value="submit"></ul>

    </form>



  </div>

</div>
