<h1>Projects</h1>
<div class="spacer">

</div>
<div class="full">
  <div class="width">
    <h1>Advanced Javascript Clock</h1>
    <p data-height="817" data-theme-id="dark" data-slug-hash="mBGMbP" data-default-tab="html,result" data-user="cthompson13" data-embed-version="2" data-pen-title="mBGMbP" class="codepen">See the Pen <a href="https://codepen.io/cthompson13/pen/mBGMbP/">mBGMbP</a> by chris thompson (<a href="https://codepen.io/cthompson13">@cthompson13</a>) on <a href="https://codepen.io">CodePen</a>.</p>
    <script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script>
  </div>
</div>
